node_modules
coverage
pacts
reports
.git
.github
.vscode
.idea
dist
build
tmp
.tmp
.cache
.vitest-cache
.nyc_output
allure-results
allure-report
playwright-report
k6-results

*.log
npm-debug.log*

prisma/dev.db
prisma/dev.db-journal
prisma/test.db
prisma/test.db-journal

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

docker/docker-compose*.yml
docker/Dockerfile*
